- name: Get system architecture
  ansible.builtin.command: uname -m
  register: arch_output
  changed_when: false

- name: Set architecture mapping
  ansible.builtin.set_fact:
    arch_map:
      armv7l: armhf
      aarch64: arm64
      x86_64: amd64

- name: Set normalized system architecture
  ansible.builtin.set_fact:
    system_arch: "{{ arch_map[arch_output.stdout] | default(arch_output.stdout) }}"

- name: Get UID of target user
  ansible.builtin.command: id -u {{ ansible_user }}
  register: uid
  changed_when: false

- name: Get GID of target user
  ansible.builtin.command: id -g {{ ansible_user }}
  register: gid
  changed_when: false

- name: Set UID/GID facts
  ansible.builtin.set_fact:
    user_uid: "{{ uid.stdout }}"
    user_gid: "{{ gid.stdout }}"
