- name: Update apt cache
  ansible.builtin.apt:
    update_cache: true

- name: Upgrade apt packages
  ansible.builtin.apt:
    upgrade: true
    dpkg_options: "force-confdef,force-confold"
  environment:
    DEBIAN_FRONTEND: noninteractive

- name: Install required packages
  ansible.builtin.apt:
    name: [
      'apt-transport-https',
      'ca-certificates',
      'curl',
      'gnupg',
      'python3-docker',
      'python3-pip',
      'python3-setuptools',
      'argon2',
    ]
    state: present

- name: Remove unused packages
  ansible.builtin.apt:
    autoremove: true
