- name: Pin Docker packages to specific versions
  become: true
  ansible.builtin.copy:
    dest: /etc/apt/preferences.d/docker
    owner: root
    group: root
    mode: '0644'
    content: |
      Package: docker-ce
      Pin: version 5:29.2.0-1~debian.12~bookworm
      Pin-Priority: 1001

      Package: docker-ce-cli
      Pin: version 5:29.2.0-1~debian.12~bookworm
      Pin-Priority: 1001

      Package: containerd.io
      Pin: version 2.2.1-1~debian.12~bookworm
      Pin-Priority: 1001

- name: Update apt cache
  become: true
  ansible.builtin.apt:
    update_cache: true

- name: Upgrade apt packages
  become: true
  ansible.builtin.apt:
    upgrade: true
    dpkg_options:
      - "--force-confdef"
      - "--force-confold"
  environment:
    DEBIAN_FRONTEND: noninteractive

- name: Remove unused packages
  become: true
  ansible.builtin.apt:
    autoremove: true

- name: Install required packages
  become: true
  ansible.builtin.apt:
    name: [
      'apt-transport-https',
      'ca-certificates',
      'curl',
      'gnupg',
      'python3-docker',
      'python3-pip',
      'python3-setuptools',
      'argon2',
    ]
    state: present
