{
  email {{ dns_email }}
}

# --- Reusable TLS blocks ---
(cloudflare-cert) {
  tls {
    dns cloudflare {{ cloudflare_token }}
  }
}

(duckdns-cert) {
  tls {
    dns duckdns {{ duckdns_token }}
  }
}

(internal-cert) {
  tls internal
}

# --- Local HTTP ---
localhost, raspberrypi.local {
  root * /srv/public
  file_server
}

# --- Public root landing pages ---
glomyer.dev, *.glomyer.dev {
    import cloudflare-cert
    root * /srv/public
    file_server
}

glomyer.duckdns.org, *.glomyer.duckdns.org {
    import duckdns-cert
    root * /srv/public
    file_server
}


# --- Services (looped) ---
{% for svc in caddy_services %}
{{ svc.name }}.glomyer.dev, {{ svc.name }}.glomyer.duckdns.org {
  {% if svc.tls_insecure_skip_verify | default(false) %}
  reverse_proxy https://localhost:{{ svc.port }} {
    transport http {
      tls_insecure_skip_verify
    }
  }
  {% else %}
  reverse_proxy localhost:{{ svc.port }}
  {% endif %}
}

{{ svc.name }}.lan {
  import internal-cert
  {% if svc.tls_insecure_skip_verify | default(false) %}
  reverse_proxy https://localhost:{{ svc.port }} {
    transport http {
      tls_insecure_skip_verify
    }
  }
  {% else %}
  reverse_proxy localhost:{{ svc.port }}
  {% endif %}
}


{% endfor %}
