- name: Install host applications
  hosts: [RaspberryPi]
  become: true
  roles:
    - role: extract_metadata
      tags: extract_metadata

    - role: services/caddy
      tags: caddy

    - role: services/olivetin
      tags: olivetin
