- name: Extract system metadata
  hosts: [RaspberryPi, ServicesHost]
  become: true
  roles:
    - role: extract_metadata
      tags: extract_metadata

- name: Install host applications
  hosts: [RaspberryPi]
  become: true
  roles:    
    - role: services/docker
      tags: docker

    - role: services/golang
      tags: golang

    - role: services/caddy
      tags: caddy
      caddyfile: edge.Caddyfile.j2

    - role: services/olivetin
      tags: olivetin

- name: Install host applications
  hosts: [ServicesHost]
  become: true
  roles:
    - role: services/docker
      tags: docker

    - role: services/golang
      tags: golang

    - role: services/caddy
      tags: caddy
      caddyfile: services.Caddyfile.j2
