- name: Install host applications
  hosts: [raspberry]
  become: true
  roles:
    - role: common
      tags: common

    - role: services/caddy
      tags: caddy

    - role: services/olivetin
      tags: olivetin