{
  email {{ vault_caddy_dns_email }}
}

# --- Reusable TLS blocks ---
(internal-cert) {
  tls internal
}

(cloudflare-cert) {
  tls {
    dns cloudflare {{ vault_caddy_cloudflare_token }}
  }
}

#(duckdns-cert) {
#  tls {
#    dns duckdns {{ vault_caddy_duckdns_token }}
#  }
#}


# --- Local HTTP ---
localhost, raspberrypi.local {
  root * /srv/public
  file_server
}

cert.glomyer.dev {
    import cloudflare-cert
    root * /srv/public
    file_server
}


#################################
# --- Raspberry Pi Services --- #
#################################
adguard.edge.glomyer.dev {
  import cloudflare-cert
  reverse_proxy localhost:{{ adguard_home_web_port }}
}

glances.edge.glomyer.dev {
  import cloudflare-cert
  reverse_proxy localhost:{{ glances_web_port }}
}

file-browser.edge.glomyer.dev {
  import cloudflare-cert
  reverse_proxy localhost:{{ file_browser_web_port }}
}

olivetin.edge.glomyer.dev {
  import cloudflare-cert
  reverse_proxy localhost:{{ olivetin_port }}
}

portainer.edge.glomyer.dev {
  import cloudflare-cert
  reverse_proxy https://localhost:{{ portainer_web_port }} {
    transport http {
      tls_insecure_skip_verify
    }
  }
}


#################################
#      --- VM Services ---      #
#################################
dashy.glomyer.dev {
  import cloudflare-cert
  reverse_proxy {{ services_host_ip }}:{{ dashy_web_port }}
}

glances.glomyer.dev {
  import cloudflare-cert
  reverse_proxy {{ services_host_ip }}:{{ glances_web_port }}
}

navidrome.glomyer.dev {
  import cloudflare-cert
  reverse_proxy {{ services_host_ip }}:{{ navidrome_web_port }}
}

metube.glomyer.dev {
  import cloudflare-cert
  reverse_proxy {{ services_host_ip }}:{{ metube_web_port }}
}

portainer.glomyer.dev {
  import cloudflare-cert
  reverse_proxy https://{{ services_host_ip }}:{{ portainer_web_port }} {
    transport http {
      tls_insecure_skip_verify
    }
  }
}

stirling-pdf.glomyer.dev {
  import cloudflare-cert
  reverse_proxy {{ services_host_ip }}:{{ stirling_pdf_web_port }}
}

uptime-kuma.glomyer.dev {
  import cloudflare-cert
  reverse_proxy {{ services_host_ip }}:{{ uptime_kuma_web_port }}
}

vaultwarden.glomyer.dev {
  import cloudflare-cert
  reverse_proxy {{ services_host_ip }}:{{ vaultwarden_web_port }}
}

vikunja.glomyer.dev {
  import cloudflare-cert
  reverse_proxy {{ services_host_ip }}:{{ vikunja_web_port }}
}


#################################
# Internal certificate example  #
#################################
#adguard.lan {
#  import internal-cert
#  #  reverse_proxy localhost:3000
#  #}
