{
  email {{ vault_caddy_dns_email }}
}


#################################
#  --- Reusable TLS blocks ---  #
#################################

(internal-cert) {
  tls internal
}

(mtls_backend) {
  reverse_proxy https://{{ services_host_ip }} {
    header_up Host {args[0]}.internal.glomyer.dev
    transport http {
      tls
      tls_server_name {args[0]}.internal.glomyer.dev
      tls_trust_pool file /etc/caddy/mtls/services-ca.crt
      tls_client_auth /etc/caddy/mtls/raspberry-client.crt /etc/caddy/mtls/raspberry-client.key
    }
  }
}

(cloudflare-cert) {
  tls {
    dns cloudflare {{ vault_caddy_cloudflare_token }}
  }
}

#(duckdns-cert) {
#  tls {
#    dns duckdns {{ vault_caddy_duckdns_token }}
#  }
#}


#################################
# --- Raspberry Pi Services --- #
#################################

adguard.edge.glomyer.dev {
  import cloudflare-cert
  reverse_proxy localhost:{{ adguard_home_web_port }}
}

glances.edge.glomyer.dev {
  import cloudflare-cert
  reverse_proxy localhost:{{ glances_web_port }}
}

file-browser.edge.glomyer.dev {
  import cloudflare-cert
  reverse_proxy localhost:{{ file_browser_web_port }}
}

olivetin.edge.glomyer.dev {
  import cloudflare-cert
  reverse_proxy localhost:{{ olivetin_port }}
}

portainer.edge.glomyer.dev {
  import cloudflare-cert
  reverse_proxy https://localhost:{{ portainer_web_port }} {
    transport http {
      tls_insecure_skip_verify
    }
  }
}


# --- Local HTTP ---
cert.glomyer.dev {
    import cloudflare-cert
    root * /srv/public
    file_server
}

localhost, raspberrypi.local {
  root * /srv/public
  file_server
}


#################################
#      --- VM Services ---      #
#################################

dashy.glomyer.dev {
  import cloudflare-cert
  import mtls_backend dashy
}

glances.glomyer.dev {
  import cloudflare-cert
  import mtls_backend glances
}

navidrome.glomyer.dev {
  import cloudflare-cert
  import mtls_backend navidrome
}

metube.glomyer.dev {
  import cloudflare-cert
  import mtls_backend metube
}

portainer.glomyer.dev {
  import cloudflare-cert
  import mtls_backend portainer
}

stirling-pdf.glomyer.dev {
  import cloudflare-cert
  import mtls_backend stirling-pdf
}

uptime-kuma.glomyer.dev {
  import cloudflare-cert
  import mtls_backend uptime-kuma
}

vaultwarden.glomyer.dev {
  import cloudflare-cert
  import mtls_backend vaultwarden
}

vikunja.glomyer.dev {
  import cloudflare-cert
  import mtls_backend vikunja
}


#################################
# Internal certificate example  #
#################################
#adguard.lan {
#  import internal-cert
#  #  reverse_proxy localhost:3000
#  #}
